/* css reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* designing the counter container */
  .container {
    text-align: center;
    gap: 20px;
    box-shadow: 0 0 5px black;
    padding: 30px;
    border-radius: 5px;

  }
  button{
    padding: 5px;
    margin: 5px;
  }
  .displayvalue{
    font-size: 15px;
  padding: 5px 15px;
  border: 1px solid black;
  }